<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>

<body>
    <h1>Upload an Image</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    
    {% load static %}
    <script type = "application/javascript" src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <div id="image-container">
        {% for url in image_urls %}
          <img src="{% static 'images/'|add:url %}" />
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            $('#image-container img').each(function() {
                var imageUrl = $(this).attr('src');
                $('<img>').attr('src', imageUrl);
            });
        });
    </script>

</body>
</html>
